//// COLORS ////

$colors: (
    'primary': hsl(40, 97%, 58%),
    // Yellow
    'second': hsl(216, 17%, 35%),
    // Dark Navy
    'third': hsl(217, 12%, 62%),
    // Dim Grey
    'fourth': hsl(212, 41%, 93%),
    // Light Grey
    'fifth': hsl(214, 37%, 96%),
    // Snow
    'sixth': hsl(39, 100%, 94%),
    // Light Yellow
    'seventh': hsl(0, 100%, 100%),
    // white
    'eight' : hsl(215.3, 14.3%, 23.3%),
    // Darker Navy
    'ninth': hsl(0, 0%, 94.9%),
    // Light Grey
);


//// FONTS ////
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap'); // Space Mono
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap'); // Lexed Deca


// Sizes
$par-sizes: (
    'sm': 0.9375rem,
    'md': 1.125rem,
    'lg': 2rem,
);

$heading-sizes: (
    'xsm': 1rem,
    'sm': 1.5rem,
    'md': 2.5rem,
    'lg': 3rem,
    'xlg': 3.5rem,
);

$par-lh-sizes: (
    'sm': 1.56rem,
    'md': 1.75rem,
);

$heading-lh-sizes: (
    'sm': 1.75rem,
    'md': 3rem,
    'lg': 3.5rem,
);


// Weight
$font-weights: (
    'sm': 400,
    'md': 700,
);


// Family
$font-family: (
    'primary': 'Lexend Deca',
    'second': 'Space Mono',
);


//// MEDIA QUERIES ////
$breakpoints-up: (
    'sm': 21.875rem,
    'md': 62rem,
    'lg': 90rem,
);

$breakpoints-down: (
    'md': 61.9375rem,
    'lg': 89.9375rem,
);


//// SPACES ////

$margin-y: (
    'sm': 7.5rem,
    'md': 9rem,
    'lg': 12.5rem,
);

$padding-x: (
    'sm': 2rem,
    'md': 6rem,
    'lg': 10rem,
);