@mixin flex-starter {
	display: flex;
	align-items: center;
}

@mixin list-starter {
	list-style: none;
}

//// ALIGNMENT //// 

// Relative - absolute alignment
@mixin vertical-alignment {
	transform: translateY(-50%);
	top: 50%;
}

@mixin horizontal-alignment {
	transform: translateX(-50%);
	left: 50%;
}


//// ANIMATIONS //// 

// Transitions
@mixin transition($property, $duration) {
	transition-property: $property;
	transition-duration: $duration;
}

// Horizontal Flip
@mixin horizontal-flip {
	transform: rotateY(180deg);
}


//// BORDERS ////

// Border radius
@mixin b-radius($r) {
	-moz-border-radius: $r;
	-webkit-border-radius: $r;
	border-radius: $r;
}

@mixin b-radius-top($r) {
	-moz-border-radius: $r $r 0rem 0rem;
	-webkit-border-radius: $r $r 0rem 0rem;
	border-radius: $r $r 0rem 0rem;
}

@mixin b-radius-bottom($r) {
	-moz-border-radius: 0rem 0rem $r $r;
	-webkit-border-radius: 0rem 0rem $r $r;
	border-radius: 0rem 0rem $r $r;
}


//// BG IMAGES ////

// Fluid bg
@mixin fluid-bg-img {
	padding-top: 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

// Bg block
@mixin bg-block {
	content: '';
	position: absolute;
	mix-blend-mode: normal;
	z-index: -1;
}

//// COLORS //// 

@mixin bg-color($color) {
	$value: map-get($colors, $color);

	background-color: $value;
}

@mixin b-color($color) {
	$value: map-get($colors, $color);

	border-color: $value;
}

@mixin color($color) {
	$value: map-get($colors, $color);

	color: $value;
}



//// FONTS ////

@mixin font-size($index, $list) {
	$value: map-get($list, $index);

	font-size: $value;
}

@mixin font-family($type) {
	$value: map-get($font-family, $type);

	font-family: $value;
}


@mixin line-height($size, $list) {
	$value: map-get($list, $size);

	line-height: $value;
}

@mixin font-weight($size, $list) {
	$value: map-get($list, $size);

	font-weight: $value;
}


//// MEDIA QUERIES ////

@mixin breakpoint-up($size) {
	$value: map-get($breakpoints-up, $size);

	@media screen and (min-width: $value) {
		@content;
	}

}

@mixin breakpoint-down($size) {
	$value: map-get($breakpoints-down, $size);

	@media screen and (max-width: $value) {
		@content;
	}
}


//// SPACES ////

@mixin padding-x($size) {
	$val: map-get($padding-x, $size);

	padding-left: $val;
	padding-right: $val;
}

@mixin padding-y($size) {
	padding-top: $size;
	padding-bottom: $size;
}

@mixin hor-padding($size) {
	padding-left: $size;
	padding-right: $size;
}


@mixin margin-y($size) {
	margin-top: $size;
	margin-bottom: $size;
}

@mixin vertical-margin($size) {
	$val: map-get($margin-y, $size);

	@include margin-y($val);
}

.bg-second {
	background: url('https://res.cloudinary.com/dby4kdmbv/image/upload/v1620643200/scooter/images/z18ho02ua93xrkz23ngw.jpg') no-repeat center/cover;


	@include breakpoint-up('md') {
		background: url('https://res.cloudinary.com/dby4kdmbv/image/upload/v1620643200/scooter/images/ljdsvn0wbr3zakdv72es.jpg') no-repeat center/cover;
	}

	@include breakpoint-up('lg') {
		background: url('https://res.cloudinary.com/dby4kdmbv/image/upload/v1620643201/scooter/images/ewl7lhexni4vejwj7eld.jpg') no-repeat center/cover;
	}

}